What is pandas?

Pandas is a fast , powerful, flexible and easy to use open source data analysis, and manipulation tool, built on top of the python programming language.

1. Pandas Series

In [10]:
# i. series from a list
import pandas as pd
import numpy as np
country=['Nepal','India','USA']
pd.Series(country)

0    Nepal
1    India
2      USA
dtype: object

In [11]:
#series with integer list
runs=[34,45,67,89]
pd.Series(runs)

0    34
1    45
2    67
3    89
dtype: int64

In [12]:
#custom index
marks=[67,78,89,87,99]
subjects=['English','Chemistry','Physics','Maths','Computer']
pd.Series(marks,index=subjects,name="Deep's marks")

English      67
Chemistry    78
Physics      89
Maths        87
Computer     99
Name: Deep's marks, dtype: int64

In [13]:
# ii. series from dictionary
marks={
    'physics':89,
    'maths':88
}
pd.Series(marks,name="Deep ko marks")

physics    89
maths      88
Name: Deep ko marks, dtype: int64

In [14]:
##iii. Series from excel(read_csv)

#dataframe
 
df=pd.read_csv('/workspaces/Pandas-Series/bollywood.csv',index_col='movie')
movies=df.squeeze()
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [15]:
df=pd.read_csv('/workspaces/Pandas-Series/kohli_ipl.csv', index_col='match_no' )
vk=df.squeeze()
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [16]:
subs=pd.read_csv('/workspaces/Pandas-Series/subs.csv')
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [8]:
movies['Mission Mangal']

'Akshay Kumar'

In [23]:
#series attributes
vk.size
vk.name
vk.count
vk.dtype
vk.is_unique
vk.index
vk.values

array([  1,  23,  13,  12,   1,   9,  34,   0,  21,   3,  10,  38,   3,
        11,  50,   2,  22,  19,  16,  15,  20,  38,  19,  24,   7,   2,
        16,  17,  24,  38,  34,  42,  13,  58,   3,  14,  37,   9,  23,
        12,  71,  35,  30,  56,  67,  27,  27,  39,  15,  11,  31,  70,
         8,  35,   8,   6,  57,  22,  16,   4,  16,  18,  45,   9,  36,
         9,   3,  73,  42,  24,  51,  35,  58,  65,   1,  11,   1,  32,
        25,  57,  93,  99,  17,  14,  56,  49,   0,  31,  21,   4,   0,
        35,   0,   4,  10,  27,  67,  38,  73,  13,  41,  18,  51,  62,
        35,   1,  34,  48,  32,  82,  19,  44,   1,  12,  12,  75,  79,
        33,  80, 100,  14,  52, 108,  20,   7, 109,  75, 113,  54,   0,
        54,  62,  28,  64,   0,  10,  55,  20,   6,   5,  58,  31,  21,
        57,  92,  30,  18,  68,  32,   8,  39,  70,  48,  12,   4,   6,
        46,   3,  23,  84,  41,  67,   8, 100,   9,  13,  23,  25,  16,
        18,   9,   7,  29,   1,  72,  43,  43,  90,  48,  14,  33,  50,
         8,   6,  33,  33,   5,  72,   8,  12,  35,   5,  25,   5,   4,
        25,  51,  53,  39,  41,  12,   5,  48,   1,  12,   0,   0,   9,
        58,  30,   0,  20,  73,  25,   7])

In [27]:
#Series Methods
#i. series.head()/series.tail()
vk.head()#displays first five datas
vk.tail()#displays last five datas

vk.head(3)#displays first 3 datas
vk.tail(2)#displays last 2 datas

match_no
214    25
215     7
Name: runs, dtype: int64

In [29]:
#ii. series.sample()
vk.sample()#randomly selects one of the data, 
movies.sample(5)#randomly selects 5 datas

movie
Aksar                        Emraan Hashmi
Devdas (2002 Hindi film)    Shah Rukh Khan
Gulaal (film)                Kay Kay Menon
Chargesheet (film)               Dev Anand
The Zoya Factor (film)        Sonam Kapoor
Name: lead, dtype: object

In [30]:
#ii. values_count()
movies.value_counts()#frequency counts on the basis of repetition of the values

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [36]:
#iii. sort_values
vk.sort_values(ascending=False)#sorting on the basis of value
#ascending=True for ascending order and False for descending order
#inplace=True for permanent change in the original series

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [37]:
#iv. sort_index
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object