What is pandas?

Pandas is a fast , powerful, flexible and easy to use open source data analysis, and manipulation tool, built on top of the python programming language.

1. Pandas Series

In [3]:
# i. series from a list
import pandas as pd
import numpy as np
country=['Nepal','India','USA']
pd.Series(country)

0    Nepal
1    India
2      USA
dtype: object

In [3]:
#series with integer list
runs=[34,45,67,89]
pd.Series(runs)

0    34
1    45
2    67
3    89
dtype: int64

In [5]:
#custom index
marks=[67,78,89,87,99]
subjects=['English','Chemistry','Physics','Maths','Computer']
pd.Series(marks,index=subjects,name="Deep's marks")

English      67
Chemistry    78
Physics      89
Maths        87
Computer     99
Name: Deep's marks, dtype: int64

In [6]:
# ii. series from dictionary
marks={
    'physics':89,
    'maths':88
}
pd.Series(marks,name="Deep ko marks")

physics    89
maths      88
Name: Deep ko marks, dtype: int64

In [4]:
##iii. Series from excel(read_csv)

#dataframe
 
df=pd.read_csv('/workspaces/Pandas-Series/bollywood.csv',index_col='movie')
movies=df.squeeze()
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [31]:
df=pd.read_csv('/workspaces/Pandas-Series/kohli_ipl.csv', index_col='match_no' )
runs=df.squeeze()
runs

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [18]:
subs=pd.read_csv('/workspaces/Pandas-Series/subs.csv')
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [8]:
movies['Mission Mangal']

'Akshay Kumar'