groupby()

In [ ]:
#groupby is a concept of grouping data on the basis of categorical columns

In [1]:
import pandas as pd
import numpy as np
movies=pd.read_csv("/workspaces/Pandas/pandas_dataframe/imdb-top-1000.csv")
movies.head(1)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0

In [13]:
#1. Find the top 3 genres by total earning
movies.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [21]:
#2. Find the genre with highest average imbd rating
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [22]:
#3. Find director with most popularity on the basis of highest voting
movies.groupby("Director")['No_of_Votes'].sum().sort_values(ascending=False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

In [23]:
#4. Find the highest rated movie of each genre
movies.groupby('Genre')['IMDB_Rating'].max()

Genre
Action       9.0
Adventure    8.6
Animation    8.6
Biography    8.9
Comedy       8.6
Crime        9.2
Drama        9.3
Family       7.8
Fantasy      8.1
Film-Noir    8.1
Horror       8.5
Mystery      8.4
Thriller     7.8
Western      8.8
Name: IMDB_Rating, dtype: float64

In [26]:
#5 find no. of movies done by each actor
movies['Star1'].value_counts()

Star1
Tom Hanks          12
Robert De Niro     11
Al Pacino          10
Clint Eastwood     10
Humphrey Bogart     9
                   ..
Preity Zinta        1
Javier Bardem       1
Ki-duk Kim          1
Vladimir Garin      1
Robert Donat        1
Name: count, Length: 660, dtype: int64

In [30]:
#second way(without value_counts())
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

Star1
Tom Hanks    12
Name: Series_Title, dtype: int64

Groupby attributes and methods

In [4]:
#i. len()--> find total number of groups
a=len(movies.groupby('Genre'))
print(a)

14

In [7]:
#ii. find items in each group:size()
genres=movies.groupby('Genre')
genres.size()

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [8]:
 #first()/last()/nth( ) item
genres.first()#gives first movies from all genre

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark Knight,2008,152,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
Adventure,Interstellar,2014,169,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
Biography,Schindler's List,1993,195,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
Comedy,Gisaengchung,2019,132,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
Crime,The Godfather,1972,175,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
Drama,The Shawshank Redemption,1994,142,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
Horror,Psycho,1960,109,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
Mystery,Memento,2000,113,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [9]:
genres.last()#gives last movie from all genre

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Escape from Alcatraz,1979,112,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0
Adventure,Kelly's Heroes,1970,144,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0
Animation,The Jungle Book,1967,78,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612.0,65.0
Biography,Midnight Express,1978,121,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0
Comedy,Breakfast at Tiffany's,1961,115,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
Crime,The 39 Steps,1935,86,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0
Drama,Lifeboat,1944,97,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
Horror,The Others,2001,101,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0
Mystery,Lost Highway,1997,134,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [10]:
genres.nth(3)#gives 4th movie from all genres

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
6,Pulp Fiction,1994,154,Crime,8.9,Quentin Tarantino,John Travolta,1826188,107928762.0,94.0
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
17,One Flew Over the Cuckoo's Nest,1975,133,Drama,8.7,Milos Forman,Jack Nicholson,918088,112000000.0,83.0
35,The Intouchables,2011,112,Biography,8.5,Olivier Nakache,Éric Toledano,760360,13182281.0,57.0
52,City Lights,1931,87,Comedy,8.5,Charles Chaplin,Charles Chaplin,167839,19181.0,99.0
56,Kimi no na wa.,2016,106,Animation,8.4,Makoto Shinkai,Ryûnosuke Kamiki,194838,5017246.0,79.0
110,Das Boot,1981,149,Adventure,8.3,Wolfgang Petersen,Jürgen Prochnow,231855,11487676.0,86.0
145,Shutter Island,2010,138,Mystery,8.2,Martin Scorsese,Leonardo DiCaprio,1129894,128012934.0,63.0
419,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145.0,81.0
691,The Outlaw Josey Wales,1976,135,Western,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [14]:
#iv. get_group()
genres.get_group("Adventure")

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
21,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
47,Back to the Future,1985,116,Adventure,8.5,Robert Zemeckis,Michael J. Fox,1058081,210609762.0,87.0
93,Inglourious Basterds,2009,153,Adventure,8.3,Quentin Tarantino,Brad Pitt,1267869,120540719.0,69.0
110,Das Boot,1981,149,Adventure,8.3,Wolfgang Petersen,Jürgen Prochnow,231855,11487676.0,86.0
114,2001: A Space Odyssey,1968,149,Adventure,8.3,Stanley Kubrick,Keir Dullea,603517,56954992.0,84.0
...,...,...,...,...,...,...,...,...,...,...
957,Fear and Loathing in Las Vegas,1998,118,Adventure,7.6,Terry Gilliam,Johnny Depp,259753,10680275.0,41.0
964,Dead Man,1995,121,Adventure,7.6,Jim Jarmusch,Johnny Depp,90442,1037847.0,62.0
966,Apollo 13,PG,140,Adventure,7.6,Ron Howard,Tom Hanks,269197,173837933.0,77.0
984,The Muppet Movie,1979,95,Adventure,7.6,James Frawley,Jim Henson,32802,76657000.0,74.0
991,Kelly's Heroes,1970,144,Adventure,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0

In [15]:
director=movies.groupby("Director")

In [17]:
director.get_group("Christopher Nolan")

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
8,Inception,2010,148,Action,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,292576195.0,74.0
21,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
36,The Prestige,2006,130,Drama,8.5,Christopher Nolan,Christian Bale,1190259,53089891.0,66.0
63,The Dark Knight Rises,2012,164,Action,8.4,Christopher Nolan,Christian Bale,1516346,448139099.0,78.0
69,Memento,2000,113,Mystery,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
155,Batman Begins,2005,140,Action,8.2,Christopher Nolan,Christian Bale,1308302,206852432.0,70.0
573,Dunkirk,2017,106,Action,7.8,Christopher Nolan,Fionn Whitehead,555092,188373161.0,94.0

In [18]:
#v. groups:
genres.groups#gives dictionary, group name as key and list of indexes as value

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

In [19]:
#v. describe()
genres.describe()#detail information of each columns

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          172.0  7.949419  ...  2.674437e+08  936662225.0     143.0
Adventure        72.0  7.937500  ...  1.998070e+08  874211619.0      64.0
Animation        82.0  7.930488  ...  2.520612e+08  873839108.0      75.0
Biography        88.0  7.938636  ...  9.829924e+07  753585104.0      79.0
Comedy          155.0  7.901290  ...  8.107809e+07  886752933.0     125.0
Crime           107.0  8.016822  ...  7.102163e+07  790482117.0      87.0
Drama           289.0  7.957439  ...  1.164461e+08  924558264.0     241.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy     78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime      77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama      79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

In [21]:
#sample()
genres.sample()#gives a random movie from each genre

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
968,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
226,Harry Potter and the Deathly Hallows: Part 2,2011,130,Adventure,8.1,David Yates,Daniel Radcliffe,764493,381011219.0,85.0
101,Toy Story,1995,81,Animation,8.3,John Lasseter,Tom Hanks,887429,191796233.0,95.0
770,Control,2007,122,Biography,7.7,Anton Corbijn,Sam Riley,61609,871577.0,78.0
978,"Planes, Trains & Automobiles",1987,93,Comedy,7.6,John Hughes,Steve Martin,124773,49530280.0,72.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
589,La grande bellezza,2013,141,Drama,7.8,Paolo Sorrentino,Toni Servillo,81125,2852400.0,86.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
271,The Thing,1982,109,Horror,8.1,John Carpenter,Kurt Russell,371271,13782838.0,57.0
420,Sleuth,1972,138,Mystery,8.0,Joseph L. Mankiewicz,Laurence Olivier,44748,4081254.0,NaN
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0

In [22]:
#nunique()
genres.nunique()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

agg method
-> for the study of different columns by different mathematical interpretation

In [24]:
genres.agg(['sum','mean'])

TypeError: agg function failed [how->mean,dtype->object]

In [27]:
genres.agg({
    'Runtime':'mean',
    'IMDB_Rating':'mean',
    'No_of_Votes':'sum'
})

              Runtime  IMDB_Rating  No_of_Votes
Genre
Action     129.046512     7.949419     72282412
Adventure  134.111111     7.937500     22576163
Animation   99.585366     7.930488     21978630
Biography  136.022727     7.938636     24006844
Comedy     112.129032     7.901290     27620327
Crime      126.392523     8.016822     33533615
Drama      124.737024     7.957439     61367304
Family     107.500000     7.800000       551221
Fantasy     85.000000     8.000000       146222
Film-Noir  104.000000     7.966667       367215
Horror     102.090909     7.909091      3742556
Mystery    119.083333     7.975000      4203004
Thriller   108.000000     7.800000        27733
Western    148.250000     8.350000      1289665

In [28]:
#combining both
genres.agg({
    'Runtime':['sum','mean'],
    'No_of_Votes':['min']
})

          Runtime             No_of_Votes
              sum        mean         min
Genre
Action      22196  129.046512       25312
Adventure    9656  134.111111       29999
Animation    8166   99.585366       25229
Biography   11970  136.022727       27254
Comedy      17380  112.129032       26337
Crime       13524  126.392523       27712
Drama       36049  124.737024       25088
Family        215  107.500000      178731
Fantasy       170   85.000000       57428
Film-Noir     312  104.000000       59556
Horror       1123  102.090909       27007
Mystery      1429  119.083333       33982
Thriller      108  108.000000       27733
Western       593  148.250000       65659

In [38]:
genres.get_group("Action")

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
5,The Lord of the Rings: The Return of the King,2003,201,Action,8.9,Peter Jackson,Elijah Wood,1642758,377845905.0,94.0
8,Inception,2010,148,Action,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,292576195.0,74.0
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
13,The Lord of the Rings: The Two Towers,2002,179,Action,8.7,Peter Jackson,Elijah Wood,1485555,342551365.0,87.0
...,...,...,...,...,...,...,...,...,...,...
968,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
979,Lethal Weapon,1987,109,Action,7.6,Richard Donner,Mel Gibson,236894,65207127.0,68.0
982,Mad Max 2,1981,96,Action,7.6,George Miller,Mel Gibson,166588,12465371.0,77.0
983,The Warriors,1979,92,Action,7.6,Walter Hill,Michael Beck,93878,22490039.0,65.0
985,Escape from Alcatraz,1979,112,Action,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0

In [40]:
#looping on groups:
for group,data in genres:
    print(data['IMDB_Rating'].sort_values(ascending=False).head(1))

2    9.0
Name: IMDB_Rating, dtype: float64
21    8.6
Name: IMDB_Rating, dtype: float64
23    8.6
Name: IMDB_Rating, dtype: float64
7    8.9
Name: IMDB_Rating, dtype: float64
19    8.6
Name: IMDB_Rating, dtype: float64
1    9.2
Name: IMDB_Rating, dtype: float64
0    9.3
Name: IMDB_Rating, dtype: float64
688    7.8
Name: IMDB_Rating, dtype: float64
321    8.1
Name: IMDB_Rating, dtype: float64
309    8.1
Name: IMDB_Rating, dtype: float64
49    8.5
Name: IMDB_Rating, dtype: float64
69    8.4
Name: IMDB_Rating, dtype: float64
700    7.8
Name: IMDB_Rating, dtype: float64
12    8.8
Name: IMDB_Rating, dtype: float64

In [47]:
##split apply and combine strategy:
#find number of movies starting with 'A' for each genre
def filter(group):
    return group['Series_Title'][group['Series_Title'].str.startswith('A')]

genres.apply(filter)

/tmp/ipykernel_5514/3876345567.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(filter)

Genre
Action  59          Avengers: Endgame
        60     Avengers: Infinity War
        106                    Aliens
        166           Andaz Apna Apna
        224               A Wednesday
                        ...
Drama   804             Abre los ojos
        813         A Little Princess
        824            A Few Good Men
        903            A Star Is Born
Horror  75                      Alien
Name: Series_Title, Length: 63, dtype: object

In [64]:
##find ranking of each movie in the group according to IMDB Score
def ranking(group):
   group['Relative_Ranking'] =group['Metascore'].rank(ascending=False ) 
   return group
new=genres.apply(ranking) 
new[new['Genre']=='Crime']

/tmp/ipykernel_5514/826608286.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  new=genres.apply(ranking)

                      Series_Title Released_Year  Runtime  Genre  IMDB_Rating  \
Genre
Crime 1              The Godfather          1972      175  Crime          9.2
      3     The Godfather: Part II          1974      202  Crime          9.0
      4               12 Angry Men          1957       96  Crime          9.0
      6               Pulp Fiction          1994      154  Crime          8.9
      22            Cidade de Deus          2002      130  Crime          8.6
...                            ...           ...      ...    ...          ...
      958              Funny Games          1997      108  Crime          7.6
      960                 Sleepers          1996      147  Crime          7.6
      974  The Godfather: Part III          1990      162  Crime          7.6
      980             Blood Simple          1984       99  Crime          7.6
      999             The 39 Steps          1935       86  Crime          7.6

                       Director           Star1  No_of_Votes        Gross  \
Genre
Crime 1    Francis Ford Coppola   Marlon Brando      1620367  134966411.0
      3    Francis Ford Coppola       Al Pacino      1129952   57300000.0
      4            Sidney Lumet     Henry Fonda       689845    4360000.0
      6       Quentin Tarantino   John Travolta      1826188  107928762.0
      22     Fernando Meirelles      Kátia Lund       699256    7563397.0
...                         ...             ...          ...          ...
      958        Michael Haneke  Susanne Lothar        65058  217345863.0
      960        Barry Levinson  Robert De Niro       186734   49100000.0
      974  Francis Ford Coppola       Al Pacino       359809   66666062.0
      980             Joel Coen      Ethan Coen        87745    2150000.0
      999      Alfred Hitchcock    Robert Donat        51853  302787539.0

           Metascore  Relative_Ranking
Genre
Crime 1        100.0               1.0
      3         90.0              19.0
      4         96.0               6.0
      6         94.0               9.5
      22        79.0              38.5
...              ...               ...
      958       69.0              66.5
      960       49.0              84.5
      974       60.0              77.5
      980       82.0              30.5
      999       93.0              11.5

[107 rows x 11 columns]

In [67]:
#find normalized rating
genres=movies.groupby('Genre')
def normalized_rating(group):
    group['Normalized_Rating']=(group['IMDB_Rating']-group['IMDB_Rating'].min())/(group['IMDB_Rating'].max()-group['IMDB_Rating'].min())
    return group
genres.apply(normalized_rating)

/tmp/ipykernel_5514/1726647340.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(normalized_rating)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

              Normalized_Rating
Genre
Action   2             1.000000
         5             0.928571
         8             0.857143
         10            0.857143
         13            0.785714
...                         ...
Thriller 700                NaN
Western  12            1.000000
         48            0.700000
         115           0.500000
         691           0.000000

[1000 rows x 11 columns]

group of multiple columns

In [68]:
#Find most earning actor-director combo
duo=movies.groupby(['Star1','Director'])
duo['Gross'].sum().sort_values(ascending=False).head(1)

Star1           Director
Toshirô Mifune  Akira Kurosawa    2.999877e+09
Name: Gross, dtype: float64

In [77]:
#Find the best actor-genre combination in-terms of metascore
duo=movies.groupby(['Star1','Genre'])
duo['Metascore'].mean().sort_values(ascending=False).head(1)

Star1           Genre
Ellar Coltrane  Drama    100.0
Name: Metascore, dtype: float64

#agg on multiple groupby

In [5]:
duo=movies.groupby(['Genre','Director'])
duo.agg(['min','max'])

                                                   Series_Title  \
                                                            min
Genre    Director
Action   Abhishek Chaubey                           Udta Punjab
         Aditya Dhar                   Uri: The Surgical Strike
         Akira Kurosawa                                     Ran
         Alejandro G. Iñárritu                     The Revenant
         Andrew Davis                              The Fugitive
...                                                         ...
Mystery  Sujoy Ghosh                                    Kahaani
         Terry Gilliam                           Twelve Monkeys
Thriller Terence Young                          Wait Until Dark
Western  Clint Eastwood                  The Outlaw Josey Wales
         Sergio Leone           Il buono, il brutto, il cattivo

                                                           Released_Year  \
                                                       max           min
Genre    Director
Action   Abhishek Chaubey                      Udta Punjab          2016
         Aditya Dhar              Uri: The Surgical Strike          2018
         Akira Kurosawa                            Yôjinbô          1954
         Alejandro G. Iñárritu                The Revenant          2015
         Andrew Davis                         The Fugitive          1993
...                                                    ...           ...
Mystery  Sujoy Ghosh                               Kahaani          2012
         Terry Gilliam                      Twelve Monkeys          1995
Thriller Terence Young                     Wait Until Dark          1967
Western  Clint Eastwood             The Outlaw Josey Wales          1976
         Sergio Leone           Per qualche dollaro in più          1965

                                     Runtime      IMDB_Rating       \
                                 max     min  max         min  max
Genre    Director
Action   Abhishek Chaubey       2016     148  148         7.8  7.8
         Aditya Dhar            2018     138  138         8.2  8.2
         Akira Kurosawa         1985      96  207         8.1  8.6
         Alejandro G. Iñárritu  2015     156  156         8.0  8.0
         Andrew Davis           1993     130  130         7.8  7.8
...                              ...     ...  ...         ...  ...
Mystery  Sujoy Ghosh            2012     122  122         8.1  8.1
         Terry Gilliam          1995     129  129         8.0  8.0
Thriller Terence Young          1967     108  108         7.8  7.8
Western  Clint Eastwood         1976     135  135         7.8  7.8
         Sergio Leone           1968     132  165         8.3  8.8

                                            Star1                     \
                                              min                max
Genre    Director
Action   Abhishek Chaubey           Shahid Kapoor      Shahid Kapoor
         Aditya Dhar                Vicky Kaushal      Vicky Kaushal
         Akira Kurosawa           Tatsuya Nakadai     Toshirô Mifune
         Alejandro G. Iñárritu  Leonardo DiCaprio  Leonardo DiCaprio
         Andrew Davis               Harrison Ford      Harrison Ford
...                                           ...                ...
Mystery  Sujoy Ghosh                  Vidya Balan        Vidya Balan
         Terry Gilliam               Bruce Willis       Bruce Willis
Thriller Terence Young             Audrey Hepburn     Audrey Hepburn
Western  Clint Eastwood            Clint Eastwood     Clint Eastwood
         Sergio Leone              Clint Eastwood        Henry Fonda

                               No_of_Votes                Gross               \
                                       min     max          min          max
Genre    Director
Action   Abhishek Chaubey            27175   27175  218428303.0  218428303.0
         Aditya Dhar                 43444   43444    4186168.0    4186168.0
         Akira Kurosawa              33044  315744     269061.0  848120995.0
         Alejandro G. Iñárritu      705589  705589  183637894.0  183637894.0
         Andrew Davis               267684  267684  183875760.0  183875760.0
...                                    ...     ...          ...          ...
Mystery  Sujoy Ghosh                 57806   57806    1035953.0    1035953.0
         Terry Gilliam              578443  578443   57141459.0   57141459.0
Thriller Terence Young               27733   27733   17550741.0   17550741.0
Western  Clint Eastwood              65659   65659   31800000.0   31800000.0
         Sergio Leone               232772  688390    5321508.0   15000000.0

                               Metascore
                                     min   max
Genre    Director
Action   Abhishek Chaubey            NaN   NaN
         Aditya Dhar                 NaN   NaN
         Akira Kurosawa             96.0  98.0
         Alejandro G. Iñárritu      76.0  76.0
         Andrew Davis               87.0  87.0
...                                  ...   ...
Mystery  Sujoy Ghosh                 NaN   NaN
         Terry Gilliam              74.0  74.0
Thriller Terence Young              81.0  81.0
Western  Clint Eastwood             69.0  69.0
         Sergio Leone               74.0  90.0

[749 rows x 16 columns]