Timedelta object:
Represents a duration , the difference tetween dates or times

In [2]:
import pandas as pd
import numpy as np

In [5]:
#create using timestamp object:
t1=pd.Timestamp('2023/10/20')
t2=pd.Timestamp("23rd oct 2023 10:12PM")
t2-t1

Timedelta('3 days 22:12:00')

In [9]:
#standalone creation
delta=pd.Timedelta( days=2 ,hours=1 )
delta

Timedelta('2 days 01:00:00')

In [11]:
#vectorized operation on time
pd.date_range(start='2022/10/20', end='2022/10/24')+delta

DatetimeIndex(['2022-10-22 01:00:00', '2022-10-23 01:00:00',
               '2022-10-24 01:00:00', '2022-10-25 01:00:00',
               '2022-10-26 01:00:00'],
              dtype='datetime64[ns]', freq='D')

In [13]:
#Real life example:
#calculating average time period of an ecommerce company
df=pd.read_csv("/workspaces/Pandas/vectorized_string_and_datetime_object/deliveries.csv")
df.head()

  order_date delivery_date
0    5/24/98        2/5/99
1    4/22/92        3/6/98
2    2/10/91       8/26/92
3    7/21/92      11/20/97
4     9/2/93       6/10/98

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    object
 1   delivery_date  501 non-null    object
dtypes: object(2)
memory usage: 8.0+ KB

In [15]:
df['order_date']=pd.to_datetime(df['order_date'])
df['delivery_date']=pd.to_datetime(df['delivery_date'])

/tmp/ipykernel_5634/3502913937.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['order_date']=pd.to_datetime(df['order_date'])
/tmp/ipykernel_5634/3502913937.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['delivery_date']=pd.to_datetime(df['delivery_date'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    datetime64[ns]
 1   delivery_date  501 non-null    datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 8.0 KB

In [18]:
df['order_date'].head()

0   1998-05-24
1   1992-04-22
2   1991-02-10
3   1992-07-21
4   1993-09-02
Name: order_date, dtype: datetime64[ns]

In [19]:
df['delivery_time']=df['delivery_date']-df['order_date']

In [20]:
df.head()

  order_date delivery_date delivery_time
0 1998-05-24    1999-02-05      257 days
1 1992-04-22    1998-03-06     2144 days
2 1991-02-10    1992-08-26      563 days
3 1992-07-21    1997-11-20     1948 days
4 1993-09-02    1998-06-10     1742 days

In [21]:
df['delivery_time'].mean()

Timedelta('1217 days 22:53:53.532934128')