In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv('/workspaces/Pandas-Series/pandas_series/kohli_ipl.csv',index_col='match_no')
vk=df.squeeze()
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [3]:
subs=pd.read_csv("/workspaces/Pandas-Series/pandas_series/subs.csv")
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

Important Series Methods:

In [4]:
df=pd.read_csv("/workspaces/Pandas-Series/pandas_series/bollywood.csv",index_col='movie')
movies=df.squeeze()
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [5]:
#1. astype
## to change type of data, for example: if a data is stored in int64 and I want to store it in int16,
import sys
sys.getsizeof(vk)

3456

In [6]:
sys.getsizeof(vk.astype('int16'))##for memory management, reducing file size

2166

In [7]:
##2. between()
## return boolean series based on the range provided
vk[vk.between(50,100)]

match_no
15      50
34      58
41      71
44      56
45      67
52      70
57      57
68      73
71      51
73      58
74      65
80      57
81      93
82      99
85      56
97      67
99      73
103     51
104     62
110     82
116     75
117     79
119     80
120    100
122     52
127     75
129     54
131     54
132     62
134     64
137     55
141     58
144     57
145     92
148     68
152     70
160     84
162     67
164    100
175     72
178     90
182     50
188     72
197     51
198     53
209     58
213     73
Name: runs, dtype: int64

In [8]:
#clip()
#clips the data in a given range
vk.clip(50,150)

match_no
1      50
2      50
3      50
4      50
5      50
       ..
211    50
212    50
213    73
214    50
215    50
Name: runs, Length: 215, dtype: int64

In [9]:
#drop_duplicates
#remove all the duplicates , and store first occurrence(default)
temp=pd.Series([1,1,2,2,3,3,4,4])
temp.drop_duplicates()

## to drop the first occurrence and store last occurrence
temp.drop_duplicates(keep='last')

1    1
3    2
5    3
7    4
dtype: int64

In [10]:
##duplicated
#returns true if duplicate and false if unique
temp.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6    False
7     True
dtype: bool

In [12]:
temp.duplicated().sum() ##true returns 1 , so, no.  of duplicate values=4

4

In [15]:
##isnull()
a=pd.Series([4,56,7,8,np.nan,40,np.nan])
a[a.isnull()].size

2

In [16]:
##dropna## removes the nan 
a.dropna()

0     4.0
1    56.0
2     7.0
3     8.0
5    40.0
dtype: float64

In [17]:
##fillna(), fill the nan with given value
a.fillna(10)

0     4.0
1    56.0
2     7.0
3     8.0
4    10.0
5    40.0
6    10.0
dtype: float64

In [18]:
#isin(),, #checks multiple values at once
#suppose i want to know how many 50,100 has vk made
vk[vk.isin([50,100])]## checking multiple values(50,100)

match_no
15      50
120    100
164    100
182     50
Name: runs, dtype: int64

In [19]:
#apply(),, To apply custom changes
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [29]:
#suppose I want to store all actors name with first name upper case
movies.apply(lambda x:x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [32]:
#copy()
# in Series.head()/series.tail(): we are viewing the original data, any changes made on it will reflects to its 
#original values so , we have to create its copy , so the original data remain unaltered
new=vk.head().copy()
new[1]=100
print(new)
vk.head()

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64